---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';


export const prerender = false;

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});


const headers = cacheHeaders(365, tags);

const explainer = `
Your journey begins here. Please select a date and time that works best for you and schedule a call with us. 

~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;
---

<Layout title="Contact Us">
    <h1 class="mb-10">Schedule a Call</h1>
    <Markdown content={explainer} class="mb-10" />
    <div class="flex flex-wrap gap-4">
        
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/kevinbrown-dc/30min" style="min-width:100%;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end -->
    </div>
</Layout>










