
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `
This is a server-rendered page, last created at \`${new Date().toUTCString()}\` with a few extra response headers:

~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Contact Us">
    <h1 class="mb-10">Schedule a Meeting</h1>
    <p>Don’t wait another day to unlock your business’s full digital potential—schedule your appointment with Minabocks right now. Our team is ready to give you personalized insights, tailored strategies, and clear next steps to help your brand grow online. Whether you’re looking to boost visibility, drive more leads, or outshine the competition, this is your chance to take action. The sooner we connect, the sooner we can start turning your goals into results. Click below and let’s build your digital success story together.!</p>

    <div class="flex flex-wrap gap-4">
        
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/kevinbrown-dc/30min" style="min-width:100%;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end -->
    </div>
</Layout>








