
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `


~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Digital Marketing">
    <h1 class="mb-10">Digital Marketing</h1>
    <p>From Social Media to pay-per-click  ads, Digital Marketing is a great supplement to your SEO. Our team has the expertise and experience to maximize your Return on Investment, ensuring you get the right traffic in the right place.</p>
    <br>
    <b>What is Your Cost Per Click?</b>
    <p>This is our work.</p>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758783665/googleads_ppzpct.png" alt="Google Ads" width="100%">
    

 
    
    <div class="flex flex-wrap gap-4">
        
    
    </div>
</Layout>
