
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `


~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Digital Marketing">
    <h1 class="mb-10">Digital Marketing</h1>
    <p>From Social Media to pay-per-click  ads, Digital Marketing is a great supplement to your SEO. Our team has the expertise and experience to maximize your Return on Investment, ensuring you get the right traffic in the right place.</p>
    <br>
    <p>At Minabocks, we know that digital marketing is the engine that drives growth in today’s competitive online world. From building brand awareness to generating high-quality leads, our strategies are designed to connect your business with the right audience at the right time. By combining creativity with data-driven precision, Minabocks helps your brand cut through the noise and deliver measurable results that matter.
<br><br>
When it comes to Pay-Per-Click (PPC) advertising, we make every click count. Our targeted PPC campaigns are built to maximize your return on investment by reaching customers who are actively searching for what you offer. Whether it’s Google Ads, social media campaigns, or retargeting strategies, Minabocks ensures your message is placed exactly where it needs to be—front and center to those most likely to convert. With our expertise, you’ll not only get more traffic but the right traffic.
<br><br
Choosing Minabocks means gaining a specialized digital partner that’s fully invested in your success. We continuously monitor, optimize, and refine your campaigns to ensure you’re always getting the best performance possible. With our personalized approach, your business doesn’t just grow—it accelerates. Let Minabocks power your digital marketing and PPC efforts, and together, we’ll turn clicks into customers and opportunities into long-term success.
<br><br>   
<h2>What is Your Cost Per Click?</h2>
    <p>This is our work.</p>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758783665/googleads_ppzpct.png" alt="Google Ads" width="100%">
    

 
    
    <div class="flex flex-wrap gap-4">
        
    
    </div>
</Layout>

