---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `

Minabocks has you covered from building a new website to SEO, digital advertising, and social media. 

Our team of digital experts are uniquely positioned to bring your digital dreams to reality. 
Our team, located throughout the United States and Europe, with a wide breadth of digital experience, is set to offer you a unique experience.
`;
---

<Layout title="Minabocks">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">A NextGen Digital Experience</h1>
    <p>
        <a href="https://calendly.com/kevinbrown-dc/minabocks" class="btn btn-lg sm:min-w-64">Book a Meeting</a>
    </p>
    <Markdown content={explainer} class="mb-10 text-lg" />

</Layout>
