
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `


~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Search Engine Optimization">
    <h1 class="mb-10">Search Engine Optimization</h1>
    <p>SEO is the first line of modern digital marketing. Ensuring your site appears competitively in your target keywords gets you natively in front of the right people at the right time. As the digital landscape continues to evolve, so does SEO and so do we! Are you ready to get to where you need to be?</p>
    <br>
    <b>What is Your Website Health Score?</b>
    <p>This is our work</p>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758734052/seo_97_x8m8on.png" alt="SEO" width="100%">
    

 
    
    <div class="flex flex-wrap gap-4">
        
    
    </div>
</Layout>
