
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `


~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Search Engine Optimization">
    <h1 class="mb-10">Search Engine Optimization</h1>
    <p>SEO is the first line of modern digital marketing. Ensuring your site appears competitively in your target keywords gets you natively in front of the right people at the right time. As the digital landscape continues to evolve, so does SEO and so do we! Are you ready to get to where you need to be?</p>
    <br>
    <p>At Minabocks, we believe that visibility is everything in today’s digital world. Search Engine Optimization (SEO) is more than just ranking higher on Google—it’s about making sure your business gets discovered by the right people, at the right time. Our tailored SEO strategies are designed to improve your online presence, drive qualified traffic, and position your brand as an industry leader. With Minabocks as your digital partner, you won’t just show up—you’ll stand out.
<br>
What sets Minabocks apart is our small, specialized approach. We don’t believe in one-size-fits-all solutions. Instead, we take the time to understand your business, your customers, and your competition, then craft an SEO strategy that’s as unique as your brand. From keyword research and content optimization to technical SEO and link building, we handle every detail with precision. Our focus is always on long-term, sustainable growth that brings real results—not just vanity metrics.
<br>
When you choose Minabocks, you’re not just investing in SEO—you’re investing in a digital growth partner that’s committed to your success. We measure our performance by your success stories, helping you climb search rankings, boost conversions, and build lasting trust with your audience. With Minabocks, your business gains more than traffic—it gains momentum.
</p>
    <h2>What is Your Website Health Score?</h2>
    <p>This is our work.</p>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1759320812/seo_100_lohohn.png" alt="SEO" width="100%">
<br>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1759245622/blue_image_imhdwl.png" alt="SEO" width="100%">
    

 
    
    <div class="flex flex-wrap gap-4">
        
    
    </div>
</Layout>


