
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `


~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---
<img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1759318418/blue2_py7gog.png" alt="minabocks" width=100%>
<Layout title="Website Design">
    <h1 class="mb-10">Website Design & Delivery</h1>
    <p>Need a new website or to refresh your existing site? We've got you covered. Our full-stack developers can handle your needs with ease and elegance.</p>
    <br>
    <p>When you’re ready to build a new website, you don’t just need a developer—you need a partner who understands how to turn your vision into a powerful digital experience. That’s exactly what Minabocks delivers. As a small, specialized digital company, we combine technical expertise with personalized service, ensuring your website isn’t just another template but a tailor-made platform designed to showcase your brand, engage your audience, and drive results.
<br><br>
At Minabocks, we believe every business deserves a website that’s sleek, responsive, and built for growth. Our team takes the time to understand your goals, then crafts a site that not only looks stunning but is optimized for performance, speed, and visibility. We integrate cutting-edge tools and best practices so your website doesn’t just launch—it thrives, making a lasting impression on every visitor.
<br><br>
What sets Minabocks apart is our commitment to partnership. We don’t just build websites; we build relationships. You’ll get direct access to our experts, fast response times, and a collaborative process where your ideas guide every step. Choosing Minabocks means choosing a digital ally who’s as invested in your success as you are—because when your business grows, so do we.
<br>
<br>
<h2>Take a look at some of our projects</h2>

    <br>
    <b>Infinite Bliss Yoga</b>
    <p>MIND. BODY. SPIRIT.</p>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758702354/yoga_vgeu7v.png" alt="Infinite Bliss Yoga" width="100%">
    <a href="https://infiniteblissyoga.org/" target="_blank">Visit Site</a>

    <br>
    <br>
    <b>HR Innovate</b>
    <p>A Recruitment Agency based in Cyprus dedicated to empowering clients and people.</p>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758702942/HRINNOVATE_qt1bv0.png" alt="HR Innovate" width="100%">
    <a href="https://hrinnovate.org/" target="_blank">Visit Site</a>
    
    <div class="flex flex-wrap gap-4">
        
    
    </div>
</Layout>






