
---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = [];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `


~~~js
${JSON.stringify(headers, null, 2)}
~~~

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Website Design">
    <h1 class="mb-10">Website Design & Delivery</h1>
    <p>Need a new website or to refresh your existing site? We've got you covered. Our full-stack developers can handle your needs with ease and elegance. Take a look at some of our recent projects</p>
    <br>
    <b>Infinite Bliss Yoga</b>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758702354/yoga_vgeu7v.png" alt="Infinite Bliss Yoga" width="100%">
    <a href="<a href="https://infiniteblissyoga.org/">Visit Site</a>"</a>

    <br>
    <b>HR Innovate</b>
    <img src="https://res.cloudinary.com/ddwt8eygx/image/upload/v1758702942/HRINNOVATE_qt1bv0.pngg" alt="HR Innovate" width="100%">
    <a href="<a href="https://www.hrinnovate.org/">Visit Site</a>"</a>
    
    <div class="flex flex-wrap gap-4">
        
    
    </div>
</Layout>






