---
import '../../src/styles/globals.css';
import '@fontsource-variable/inter/wght.css';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin />

<meta name='robots' content='max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
	<style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
	<link rel="canonical" href="https://minabocks.com/">
    <meta name="description" content="A NextGen Digital Experience">
    <meta property="og:title" content="A NextGen Digital Experience |abocks Min">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://res.cloudinary.com/ddwt8eygx/image/upload/v1667293230/minabocks/minabocks_ywjkgs.png">
    <meta property="og:description" content="Minabocks has you covered from building a new website to SEO, digital advertising, and social media.">
    <meta property="og:url" content="https://www.minabocks.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Minabocks">
    <meta property="fb:app_id" content="labecwp2050">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://res.cloudinary.com/ddwt8eygx/image/upload/v1667293230/minabocks/minabocks_ywjkgs.png">
    </head>
    <body class="antialiased text-white bg-complementary">
        <div class="flex flex-col min-h-screen px-6 bg-noise sm:px-12">
            <div class="flex flex-col w-full max-w-5xl mx-auto grow">
                <Header />
                <main class="grow"><slot /></main>
                <Footer />
            </div>
        </div>
    </body>
</html>
